<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>products</title>
        <link rel="stylesheet" href="../styles/products.css">
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
            rel="stylesheet">
            <!-- Bootstrap CSS -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">

    </head>

    <body>
        <!-- first div -->
        <div id="container">
            <div>
                <a href="../index.html"><img src="https://kona-digital.com/images/logo.png" id="img1"></a>
            </div>
            <div id="scontainer">
                <div>
                    <a href="./products.html"><select>
                        <option>Products</option>
                        <option>LMS</option>
                        <option>crm</option>
                        <option>HRMS</option>
                    </select></a>
                </div>
                <div>
                   <a href="../views/solutions.html"> <select>
                    <option>Solutions</option>
                    <option>Educational</option>
                    <option>Finace</option>
                </select></a>
                </div>
                <div>
                    <a href="../views/services.html"><select>
                        <option>Services</option>
                        <option> sales</option>
                        <option>Services</option>
                        <option>Marketing</option>
                    </select></a>
                </div>
                <div>
                    <p id="Resources">Resources</p>
                </div>
                <div>
                    <button id="bt1"
                        onclick="document.querySelector('.popup').style.display='flex'">Start
                        Now</button>
                </div>
            </div>
        </div>
        <!-- <div class="popup">
            <div class="popup-content">
                <div class="popup-header">
                    <h2>Start Now</h2>
                    <span class="close-btn"
                        onclick="document.querySelector('.popup').style.display='none'">&times;</span>
                </div>
                <form class="popup-form">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" placeholder="Name"
                        required>

                    <label for="phone">Phone</label>
                    <div class="phone-group">
                        <select id="country-code" name="country-code" required>
                            <option value="+1">IN +91</option>
                            <option value="+1">+1</option>
                            <option value="+44">+44</option>
                            <option value="+91">+91</option>
                        </select>
                        <input type="text" id="phone" name="phone"
                            placeholder="Phone" required>
                    </div>

                    <label for="email">Email</label>
                    <input type="email" id="email" name="email"
                        placeholder="Email" required>

                    <input type="submit" value="SUBMIT">
                </form>
            </div>
        </div> -->
        <div class="popup">
            <div class="popup-content">
                <div class="popup-header">
                    <h2>Start Now</h2>
                    <span class="close-btn"
                        onclick="document.querySelector('.popup').style.display='none'">&times;</span>
                </div>
                <form class="popup-form">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" placeholder="Name"
                        required>

                    <label for="phone">Phone</label>
                    <div class="phone-group">
                        <select id="country-code" name="country-code" required>
                            <option value="+1">IN +91</option>
                            <option value="+1">+1</option>
                            <option value="+44">+44</option>
                            <option value="+91">+91</option>
                        </select>
                        <input type="text" id="phone" name="phone"
                            placeholder="Phone" required>
                    </div>

                    <label for="email">Email</label>
                    <input type="email" id="email" name="email"
                        placeholder="Email" required>

                    <input type="submit" value="SUBMIT">
                </form>
            </div>
        </div>

        <!-- second-div -->
        <div id="seconddiv">
            <div>
                <h1>
                    Empower your institution’s credence with the most versatile
                    CRM software.
                </h1>
                <p>
                    Reinforce the trust among your prospective audience and
                    enhance the customer experience multifold with Kona’s CRM
                    software. Take your customer support and relationship
                    management operations to the next level.
                </p>
                <button>Ask For Free Demo</button>
            </div>
            <div id="seconddiv1">
                <img src="https://kona-digital.com/images/pbanner.jpg">
            </div>
        </div>

        <!-- third-div -->

        <div id="thirddiv">
            <h2>Here’s what Kona’s CRM
                can do for you</h2>
            <p>A well-rounded Customer Relationship Management (CRM) software
                that does more
                than just managing your customer relationships while you manage
                your more pressing tasks.</p>
        </div>

        <!-- four-div -->
        <div id="fourdiv">
            <div>
                <img src="https://kona-digital.com/images/f1.png">
                <h4>Capture leads</h4>
                <p>Intuitive lead gathering capability that enables you to
                    contact your potential leads with ease and convert them into
                    rewarding customers.
                </p>
            </div>
            <div>
                <img src="https://kona-digital.com/images/f2.png">
                <h4> Dashboard</h4>
                <p>Intuitive lead gathering capability that enables you to
                    contact your potential leads with ease and convert them into
                    rewarding customers.
                </p>
            </div>

            <div>
                <img src="https://kona-digital.com/images/f3.png">
                <h4> Qualify and prioritize</h4>
                <p> Intuitive lead gathering capability that
                    enables you to contact your potential leads
                    with ease and convert them into rewarding customers.</p>
            </div>
        </div>

        <!-- five-div -->
        <div id="fivediv">
            <div>
                <img src="https://kona-digital.com/images/f3.png">
                <h4>Lead Activity</h4>
                <p>Intuitive lead gathering capability that enables you to
                    contact your potential leads with ease and convert them into
                    rewarding customers.
                </p>
            </div>
            <div>
                <img src="https://kona-digital.com/images/f4.png">
                <h4>Track Leads Status</h4>
                <p>Intuitive lead gathering capability that enables you to
                    contact your potential leads with ease and convert them into
                    rewarding customers.

                </p>
            </div>
            <div>
                <img src="https://kona-digital.com/images/f1.png">
                <h4>Send Email & SMS</h4>
                <p>Intuitive lead gathering capability that enables you to
                    contact your potential leads with ease and convert them into
                    rewarding customers.
                </p>
            </div>
        </div>

 <!-- six-div -->
        <div id="sixdiv">
            <div>
               <button>Insights and Updates</button>
               <h1>AICopy is built for  everyone.</h1>
               <p>Track user behavior, sales revenue, and other key metrics  essential  your business's success.</p>
               <div>
                <p><i class="fa-solid fa-square-check"></i> Customer Balance</p>
                <p><i class="fa-solid fa-square-check"></i> Template Category Access</p>
                <p><i class="fa-solid fa-square-check"></i> User Spending</p>
               </div>
            </div>
            <div id="sixdiv1">
               <img src="https://kona-digital.com/images/ai.png">
            </div>
        </div>

        <div id="Q">
            <h1>Q&A</h1>
        </div>
<!-- seven-div -->
<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                End-to-end encryption for business messages for iOS Devices #1
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
            <div class="accordion-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                Sending media, documents, location and contacts
            </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
            <div class="accordion-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                Get insights on key metrics like response time and issue volume
            </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
            <div class="accordion-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                Calling unavailable in some countries
            </button>
        </h2>
        <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
            <div class="accordion-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
            </div>
        </div>
    </div>
</div>


<div class="accordion" id="accordionPanelsStayOpenExample1" style="margin: 0rem 20rem;">
    <div class="accordion-item" style="border: transparent; padding-top: 1rem; padding-bottom: 1rem; border-bottom: 1px solid #dee2e6;">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                End-to-end encryption for business messages for iOS Devices #1
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
            <div class="accordion-body">

                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.                </div>
        </div>
    </div>
    <div class="accordion-item" style="border: transparent; padding-top: 1rem; padding-bottom: 1rem; border-bottom: 1px solid #dee2e6;">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                Sending media, documents, location and contacts                </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
            <div class="accordion-body">

                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.                </div>
        </div>
    </div>
    <div class="accordion-item" style="border: transparent; padding-top: 1rem; padding-bottom: 1rem; border-bottom: 1px solid #dee2e6;">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">

                Get insights on key metrics like response time and issue volume                </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
            <div class="accordion-body">

                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.                </div>
        </div>
    </div>
    <div class="accordion-item" style="border: transparent; padding-top: 1rem; padding-bottom: 1rem; border-bottom: 1px solid #dee2e6;">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                Calling unavailable in some countries                </button>
        </h2>
        <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
            <div class="accordion-body">

                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.                </div>
        </div>
    </div>
   </div>
</div>
  <!-- eight-div -->
        <div id="container1">
            <div>
                <h1>Let’s connect.</h1>
                <p>Whether you have a groundbreaking idea or a challenging
                    project in mind, AI Hub is here to make it a
                    reality.</p>
                <button class="butto">
                    Send Message
                </button>
            </div>
            <div>
                <img src="https://kona-digital.com/images/connect.png"
                    id="img8">
            </div>
        </div>
    </div>
  <!-- nine-div -->
    <footer>
        <div id="container2">
            <div>
                <img src="https://kona-digital.com/images/ftlog.png"
                    id="img7">
                <p>At our company, we are dedicated to supporting you in
                    the seamless
                    creation of exceptional content that is both
                    efficient and high in
                    quality. Our expert team and advanced AI-powered
                    tools work hand in
                    hand to assist you in effortlessly producing
                    top-notch content that
                    captivates your audience.</p>
            </div>
            <div>
                <h3>Products</h3>
                <p>LMS</p>
                <p>CRM</p>
                <p>HRMS</p>
            </div>
            <div>
                <h3>Solutions</h3>
                <p>LMS</p>
                <p>CRM</p>
                <p>HRMS</p>
            </div>
            <div>
                <h3>Services</h3>
                <p>LMS</p>
                <p>CRM</p>
                <p>HRMS</p>
            </div>
            <div>
                <h3>Resources</h3>
            </div>
            <div>
                <img src="https://kona-digital.com/images/fticon.png.png"
                    id="img9">
            </div>
        </div>
    </footer>
    <button class="phone-btn1" onclick="document.querySelector('.popup1').style.display='block'">&#9742;</button>

    <div class="popup1">
        <div class="popup-header1">
            <h2>Call Us (Or) Whatsapp Us</h2>
            <span class="close-btn1" onclick="document.querySelector('.popup1').style.display='none'">&times;</span>
        </div>
        <div class="popup-content1">
            <p>+91 9515175551</p>
        </div>
    </div>
    <!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

        <script src="https://kit.fontawesome.com/9757111d00.js" crossorigin="anonymous"></script>
    </body>
</html>