<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Services</title>
        <link rel="icon" href="https://kona-digital.com/images/fticon.png.png" sizes="32x32">
        <link rel="stylesheet" href="../styles/sevices.css">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
            integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
            integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
            rel="stylesheet">
    </head>
    <body>
        <div id="container">
            <div>
                <img src="https://kona-digital.com/images/logo.png"
                    id="img1">
            </div>
            <div id="scontainer">
                <div>
                   <a href="../views/products.html">  
                      <select>
                    <option>Products</option>
                    <option>LMS</option>
                    <option>crm</option>
                    <option>HRMS</option>
                </select></a>
                </div>
                <div>
                   <a href="../views/solutions.html">
                    <select>
                        <option>Solutions</option>
                        <option>Educational</option>
                        <option>Finace</option>
                    </select>
                   </a>
                </div>
                <div>
                    <a href="./services.html">
                        <select>
                            <option>Services</option>
                            <option> sales</option>
                            <option>Services</option>
                            <option>Marketing</option>
                        </select>
                    </div>
                    </a>
                <div>
                    <p id="Resources">Resources</p>
                </div>
                <div>
                    <button id="bt1"
                        onclick="document.querySelector('.popup').style.display='flex'">Start
                        Now</button>
                </div>
            </div>
        </div>
        <div class="popup">
            <div class="popup-content">
                <div class="popup-header">
                    <h2>Start Now</h2>
                    <span class="close-btn"
                        onclick="document.querySelector('.popup').style.display='none'">&times;</span>
                </div>
                <form class="popup-form">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" placeholder="Name"
                        required>
                    <label for="phone">Phone</label>
                    <div class="phone-group">
                        <select id="country-code" name="country-code" required>
                            <option value="+1">IN +91</option>
                            <option value="+1">+1</option>
                            <option value="+44">+44</option>
                            <option value="+91">+91</option>
                        </select>
                        <input type="text" id="phone" name="phone"
                            placeholder="Phone" required>
                    </div>
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email"
                        placeholder="Email" required>
                    <input type="submit" value="SUBMIT">
                </form>
            </div>
        </div>
        <div id="fcontainer">
            <div class="fcontainer1">
                <h1>Need help with marketing? Don’t sweat! We make getting a
                    digital push as easy as pie!</h1>
                <p>Looking for content that captivates, designs that inspire,
                    and campaigns that connect? Well, you are in the right
                    place. KonaMars is here to assist you with all your digital
                    marketing needs.</p>
                <button>Ask For Free Demo</button>
            </div>
            <div class="fcontainer2">
                <img src="https://kona-digital.com/images/iphone.png"
                    style="width:100%">
            </div>
        </div>
        <div id="service">
            <h1 style="font-size: 50px;">Service</h1>
            <img src="https://kona-digital.com/images/tag.png"
                style="width:15%">
        </div>
        <div id="imager">
            <div class="cards">
                <div class="imgs">
                    <p>Enhance your result appearance</p>
                    <h3>Rich Snippets enhance your appearance in Google Search
                        results and help visitors find detailed information
                        about the content or product you’re offering.<span>There
                            are different types of data that can be added to the
                            rich snippet such as the product price and blog post
                            details. Potential visitors can now access the
                            necessary content right away.</span></h3>
                </div>
                <img class="imgss"
                    src="	https://kona-digital.com/images/im1.jpg"
                    style="width:100%">
            </div>
            <div class="cards">
                <img class="imgss"
                    src="	https://kona-digital.com/images/im2.jpg"
                    style="width:100%">
                <div class="imgs">
                    <p>Content structure</p>
                    <h3>Heading Tags provide structure and hierarchy for your
                        content as they improve the readability of your site.
                        Now, you can assign custom heading tags to all widgets
                        including portfolio, icon box, blog and more.<span> You
                            can even inherit CSS styles from other headings
                            without changing the HTML tags.</span></h3>
                </div>

            </div>
            <div class="cards">
                <div class="imgs">
                    <p>Performance enhancements</p>
                    <h3>Search engines and users deeply care about how your site
                        perform across different devices. Now, you can assign
                        custom heading tags to all widgets including portfolio,
                        icon box, blog and more.
                        <span> You can even inherit CSS styles from other
                            headings without changing the HTML tags.</span></h3>
                </div>
                <img class="imgss"
                    src="	https://kona-digital.com/images/im3.jpg"
                    style="width:100%">
            </div>
            <div class="cards">
                <img class="imgss"
                    src="	https://kona-digital.com/images/im4.jpg"
                    style="width:100%">

                <div class="imgs">
                    <p>Content structure</p>
                    <h3>Heading Tags provide structure and hierarchy for your
                        content as they improve the readability of your site.
                        Now, you can assign custom heading tags to all widgets
                        including portfolio, icon box, blog and more.
                        <span>You can even inherit CSS styles from other
                            headings without changing the HTML tags.</span></h3>
                </div>
            </div>
            <div class="cards">
                <div class="imgs">
                    <p>Performance enhancements</p>
                    <h3>Search engines and users deeply care about how your site
                        perform across different devices. Now, you can assign
                        custom heading tags to all widgets including portfolio,
                        icon box, blog and more.
                        <span>You can even inherit CSS styles from other
                            headings without changing the HTML tags.</span></h3>
                </div>
                <img class="imgss"
                    src="	https://kona-digital.com/images/im5.jpg"
                    style="width:100%">
            </div>
        </div>
        <div id="bimg">

        </div>
        <div id="QA">
            <h1>Q&A</h1>

            <div class="accordion" id="accordionPanelsStayOpenExample"
                style="margin: 0rem 20rem;">
                <div class="accordion-item"
                    style="border: transparent; padding-top: 1rem; padding-bottom: 1rem; border-bottom: 1px solid #dee2e6;">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseOne"
                            aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseOne">
                            End-to-end encryption for business messages for iOS
                            Devices #1
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne"
                        class="accordion-collapse collapse show">
                        <div class="accordion-body">

                            Anim pariatur cliche reprehenderit, enim eiusmod
                            high life accusamus terry richardson ad squid. 3
                            wolf moon officia aute, non cupidatat skateboard
                            dolor brunch. Food truck quinoa nesciunt laborum
                            eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put
                            a bird on it squid single-origin coffee nulla
                            assumenda shoreditch et. </div>
                    </div>
                </div>
                <div class="accordion-item"
                    style="border: transparent; padding-top: 1rem; padding-bottom: 1rem; border-bottom: 1px solid #dee2e6;">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseTwo"
                            aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseTwo">
                            Sending media, documents, location and contacts
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo"
                        class="accordion-collapse collapse">
                        <div class="accordion-body">

                            Anim pariatur cliche reprehenderit, enim eiusmod
                            high life accusamus terry richardson ad squid. 3
                            wolf moon officia aute, non cupidatat skateboard
                            dolor brunch. Food truck quinoa nesciunt laborum
                            eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put
                            a bird on it squid single-origin coffee nulla
                            assumenda shoreditch et. </div>
                    </div>
                </div>
                <div class="accordion-item"
                    style="border: transparent; padding-top: 1rem; padding-bottom: 1rem; border-bottom: 1px solid #dee2e6;">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseThree"
                            aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseThree">

                            Get insights on key metrics like response time and
                            issue volume </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree"
                        class="accordion-collapse collapse">
                        <div class="accordion-body">

                            Anim pariatur cliche reprehenderit, enim eiusmod
                            high life accusamus terry richardson ad squid. 3
                            wolf moon officia aute, non cupidatat skateboard
                            dolor brunch. Food truck quinoa nesciunt laborum
                            eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put
                            a bird on it squid single-origin coffee nulla
                            assumenda shoreditch et. </div>
                    </div>
                </div>
                <div class="accordion-item"
                    style="border: transparent; padding-top: 1rem; padding-bottom: 1rem; border-bottom: 1px solid #dee2e6;">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseFour"
                            aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseFour">
                            Calling unavailable in some countries </button>
                    </h2>
                    <div id="panelsStayOpen-collapseFour"
                        class="accordion-collapse collapse">
                        <div class="accordion-body">

                            Anim pariatur cliche reprehenderit, enim eiusmod
                            high life accusamus terry richardson ad squid. 3
                            wolf moon officia aute, non cupidatat skateboard
                            dolor brunch. Food truck quinoa nesciunt laborum
                            eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put
                            a bird on it squid single-origin coffee nulla
                            assumenda shoreditch et. </div>
                    </div>
                </div>
            </div>
        </div>
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

        <div id="connect">
            <div class="lts">

            </div>
            <div id="container1">
                <div>
                    <h1>Let’s connect.</h1>
                    <p>Whether you have a groundbreaking idea or a challenging
                        project in mind, AI Hub is here to make it a
                        reality.</p>
                    <button class="butto">
                        Send Message
                    </button>
                </div>
                <div>
                    <img src="https://kona-digital.com/images/connect.png"
                        id="img8">
                </div>
            </div>
        </div>
      <!-- nine-div -->
        <footer>
            <div id="container2">
                <div>
                    <img src="https://kona-digital.com/images/ftlog.png"
                        id="img7">
                    <p>At our company, we are dedicated to supporting you in
                        the seamless
                        creation of exceptional content that is both
                        efficient and high in
                        quality. Our expert team and advanced AI-powered
                        tools work hand in
                        hand to assist you in effortlessly producing
                        top-notch content that
                        captivates your audience.</p>
                </div>
                <div>
                    <h3>Products</h3>
                    <p>LMS</p>
                    <p>CRM</p>
                    <p>HRMS</p>
                </div>
                <div>
                    <h3>Solutions</h3>
                    <p>LMS</p>
                    <p>CRM</p>
                    <p>HRMS</p>
                </div>
                <div>
                    <h3>Services</h3>
                    <p>LMS</p>
                    <p>CRM</p>
                    <p>HRMS</p>
                </div>
                <div>
                    <h3>Resources</h3>
                </div>
                <div>
                    <img src="https://kona-digital.com/images/fticon.png.png"
                        id="img9">
                </div>
            </div>
        </footer>
            </div>
        </div>
        <button class="phone-btn1" onclick="document.querySelector('.popup1').style.display='block'">&#9742;</button>

        <div class="popup1">
            <div class="popup-header1">
                <h2>Call Us (Or) Whatsapp Us</h2>
                <span class="close-btn1" onclick="document.querySelector('.popup1').style.display='none'">&times;</span>
            </div>
            <div class="popup-content1">
                <p>+91 9515175551</p>
            </div>
        </div>
    </body>
</html>